.form {
    margin: 1rem 0;
    height: 19rem;
    overflow: auto;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
  }
  
  .control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .actions button {
    font: inherit;
    color: #021b10;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem; 
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #021b10;
    color: white;
  }
  
  .actions .submit {
    border: 2px solid black;
    background-color: #021b10;
    color: white;
  }
  
  .actions .submit:hover,
  .actions .submit:active {
    background-color: #188355;
    border : 2p solid black;
  }
  
  .invalid label {
    color: #021b10;

  }
  
  .invalid input {
    border-color: #c20f27;
    background-color: #ffeff1;
  }